[submodule "home/.vim/bundle/puppet-syntax-vim"]
	path = home/.vim/bundle/puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim
[submodule "home/.vim/bundle/vim-flavored-markdown"]
	path = home/.vim/bundle/vim-flavored-markdown
	url = git://github.com/jtratner/vim-flavored-markdown.git
[submodule "home/.vim/bundle/vim-puppet"]
	path = home/.vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "home/.vim/bundle/endwise"]
	path = home/.vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "home/.vim/bundle/gnupg"]
	path = home/.vim/bundle/gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "home/.vim/bundle/eunuch"]
	path = home/.vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "home/.vim/bundle/vim-dispatch"]
	path = home/.vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch
[submodule "home/.vim/bundle/vim-misc"]
	path = home/.vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "home/.vim/bundle/rust"]
	path = home/.vim/bundle/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "home/.vim/bundle/vim-repeat"]
	path = home/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "home/.vim/bundle/ack"]
	path = home/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "home/.vim/bundle/nerdtree-tabs"]
	path = home/.vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "home/.vim/bundle/vim-terraform"]
	path = home/.vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform
